Flask
Flask-Cors
gunicorn
numpy
pandas
scipy
matplotlib
seaborn
pyyaml
tqdm
joblib
dvc
mlflow==2.2.2
notebook
python-box==6.0.2
ensure==1.0.2
gdown
tensorflow-cpu==2.11.0
tensorflow-intel==2.11.0
types-PyYAML
