tensorflow-cpu==2.17.1
gunicorn==21.2.0
flask==2.2.5
flask-cors==3.0.10
pandas==1.5.3
numpy==1.23.5
scipy==1.10.1
matplotlib==3.7.1
seaborn==0.12.2
joblib==1.2.0
tqdm==4.65.0
pyyaml==6.0.1
python-box==6.0.2
ensure==1.0.2
types-PyYAML==6.0.12.11
gdown==4.7.1
mlflow==2.2.2
